# Private/user data
.ssh/
.gnupg/
.mozilla/
.steam/
.local/share/Steam/
.cache/

# Logs/backups
*.log
*.bak
*.backup
*.tmp
*~

# OS/editor files
.DS_Store
Thumbs.db
.directory

# Python
__pycache__/
*.pyc
